In [1]:
import glob
import pandas as pd

In [3]:
filenames = glob.glob('C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\*.csv')

In [4]:
filenames

['C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-201604-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-201605-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-201606-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-201607-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-201608-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-201609-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-20161-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-201610-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-201611-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-201612-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-20162-citibike-tripdata.csv',
 'C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\2016\\JC-20163-citibike-tripdata.csv']

In [5]:
frames = [pd.read_csv(x) for x in filenames]

In [46]:
manhattan = pd.read_csv('C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\201808-citibike-tripdata.csv')
jc = pd.read_csv('C:\\Users\\jmose\\OneDrive\\Documents\\Python Scripts\\Citibike\\JC-201808-citibike-tripdata.csv')

In [47]:
frames = [manhattan, jc]

In [48]:
merged = pd.concat(frames, axis=0)

In [49]:
merged2 = merged.copy(deep=True)

In [50]:
merged['terminal type'] = "Start"
merged2['terminal type'] = "End"

In [51]:
merged = merged.rename(columns={'starttime': 'time',
                                'start station id': 'station id',
                                'start station name': 'station name',
                                'start station latitude': 'station latitude',
                                'start station longitude': 'station longitude'
                               })
merged2 = merged2.rename(columns={'stoptime': 'time',
                                'end station id': 'station id',
                                'end station name': 'station name',
                                'end station latitude': 'station latitude',
                                'end station longitude': 'station longitude'
                               })

In [52]:
merged = merged[['terminal type', 'time', 'station id', 'station name', 'station latitude', 'station longitude']]
merged2 = merged2[['terminal type', 'time', 'station id', 'station name', 'station latitude', 'station longitude']]

In [53]:
merged.head()

,terminal type,time,station id,station name,station latitude,station longitude
0,Start,2018-08-01 00:00:07.3210,3162.0,W 78 St & Broadway,40.783400,-73.980931
1,Start,2018-08-01 00:00:19.7480,3260.0,Mercer St & Bleecker St,40.727064,-73.996621
2,Start,2018-08-01 00:00:21.1750,403.0,E 2 St & 2 Ave,40.725029,-73.990697
3,Start,2018-08-01 00:00:26.4700,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996
4,Start,2018-08-01 00:00:30.2910,3662.0,31 Ave & Steinway St,40.761294,-73.916917

In [54]:
merged2.head()

,terminal type,time,station id,station name,station latitude,station longitude
0,End,2018-08-01 00:11:28.9920,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991
1,End,2018-08-01 00:10:45.0290,2012.0,E 27 St & 1 Ave,40.739445,-73.976806
2,End,2018-08-01 00:22:20.6370,285.0,Broadway & E 14 St,40.734546,-73.990741
3,End,2018-08-01 00:04:06.8190,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763
4,End,2018-08-01 00:07:09.2810,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007

In [55]:
terminals = pd.concat([merged, merged2], axis=0)

In [56]:
terminals.shape

(4043218, 6)

In [28]:
merged.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1

In [57]:
terminals.to_csv('201808-terminals.csv', header=True, index=False)

In [20]:
merged.columns = [x.replace(' ','') for x in merged.columns]